html {
    font-size: 20px;
}

body {
    font-family: verdana;
}

html {
    position: relative;
    min-height: 100%;
}

.nav-font-size {
    font-size: 30px;
}

.register-login-form {
    width: fit-content;
}

.register-title {
    left: 30px;
    top: -21px;
    position: relative;
    background-color: white;
    font-size: 25px;
}

.border-form {
    border: 2.1px solid black;
}

.nav-border {
    border-right: 1px solid black;
}

.nav-link-active {
    color: black;
    text-decoration: none;
}
